<configuration debug="true">

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%-40.40logger{39}) %boldGreen([%X{traceId} %X{spanId}]) %message %n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>